.product {
	display: flex;
	flex-direction: column;
	padding: 20px 0px;
	transition: .3s;
	box-shadow: 0px 0px 2px #dfdfdf;

}

.product:hover {
	box-shadow: 0px 0px 10px #dfdfdf;
}

.img {
	width: 100%;
}

.info {
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
}

.actions {
	padding: 0 20px;
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.btn {
	padding: 5px;
	transition: .3s;
}
.add_to_cart {
	background: #8be0ae;
}

.add_to_compare {
	background: #8bc5e0;
}

.remove_btn {
	background: #e78a5e;
}